# ===== Folders ====== #
build/
dist/
.idea/
logs/
out/
tmp/
temp/
.vscode/
node_modules/
# ===== Files ===== #
.DS_Store
package-lock.json
Thumbs.db
TODO.md
# ===== Data ===== #
SETTINGS_*.json
# ===== config ===== #
.config
*.config
config.json
.env
*.env
.env.local
.env.*.local
# ===== misc ===== #
npm-debug.log
yarn-error.log
*.log
*.swp
*.swo
*~