# ===== Folders ====== #
build/
dist/
.idea/
logs/
out/
tmp/
temp/
.vscode/
node_modules/
# ===== Files ===== #
.DS_Store
CHANGELOG.md
package-lock.json
Thumbs.db
TODO.md
# ===== Data ===== #
modlogs.sqlite
xp.sqlite
# ===== config ===== #
.env
.env.local
.env.*.local
token.env
discordbot.config
# ===== misc ===== #
npm-debug.log
yarn-error.log
*.log
*.swp
*.swo
*~