# ===== Folders ====== #
build/
dist/
.idea/
logs/
out/
tmp/
temp/
.vscode/
node_modules/
# ===== Files ===== #
.DS_Store
package-lock.json
Thumbs.db
TODO.md
# ===== Data ===== #
modlogs.sqlite
welcome_settings.sqlite
xp.sqlite
# ===== config ===== #
.config
*.config
.env
*.env
.env.local
.env.*.local
bot_config.json
# ===== misc ===== #
npm-debug.log
yarn-error.log
*.log
*.swp
*.swo
*~